[Unit]
Description=DX cluster spot collector
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 /opt/spot-collector/spot-collector.py --config /opt/spot-collector/spot-collector.json
User=root
Group=root

[Install]
WantedBy=multi-user.target
